    @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap');
     :root {
        --text-blue: #06529b;
        --bg-blue: #010f1e;
        --btn-hover: #011a32;
    }
    
    * {
        font-family: 'Nunito', sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;
        outline: none;
        border: none;
        text-transform: capitalize;
        transition: all .2s linear;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5 {
        color: #fff !important;
    }
    
    h3 {
        font-size: 2.5rem !important;
    }
    
    h4 {
        font-size: 2.3rem !important;
    }
    
    p {
        font-size: 2rem !important;
        color: #eee !important;
    }
    
    i {
        color: #eee;
    }
    
    i:hover {
        color: var(--text-blue);
    }
    
    a *::selection {
        background: var(--text-blue);
        color: #333;
    }
    
    html {
        font-size: 57%;
        overflow-x: hidden;
        -webkit-tap-highlight-color: transparent;
    }
    
    html::-webkit-scrollbar {
        width: 1.4rem;
    }
    
    html::-webkit-scrollbar-track {
        background: var(--bg-blue);
    }
    
    html::-webkit-scrollbar-thumb {
        background: var(--text-blue);
    }
    
    body {
        background: var(--bg-blue);
        overflow-x: hidden;
        padding-left: 40rem;
        padding-right: 4rem;
    }
    
    section {
        min-height: 100vh;
        padding: 15rem 1rem;
        display: flex;
        justify-content: center;
        flex-flow: column;
    }
    
    .btn {
        padding: .7rem 3rem;
        background: var(--text-blue);
        color: #fff;
        cursor: pointer;
        margin-top: 1rem;
        font-size: 2rem;
        border-radius: 1rem;
        border: 1px solid var(--text-blue)
    }
    
    .btn i {
        padding: 0 .5rem;
        font-size: 1.8rem;
    }
    
    .btn i:hover {
        color: #fff;
    }
    
    .btn:hover {
        background: var(--btn-hover);
        border: 1px solid var(--text-blue)
    }
    
    .heading {
        margin: 0 6rem;
        font-size: 4rem;
        padding: 1rem;
        border-bottom: .1rem solid #fff4;
        color: #fff;
    }
    
    .heading span {
        color: var(--text-blue);
    }
    
    header {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
        height: 100%;
        width: 35rem;
        /* background: -webkit-linear-gradient(30deg, #438697 0%, #06529b 100%); */
        background: -webkit-linear-gradient(30deg, #499cb1 0%, #06369b 100%);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column;
        text-align: center;
    }
    
    header .user img {
        height: 17rem;
        width: 17rem;
        border-radius: 50%;
        object-fit: cover;
        margin-bottom: 1rem;
        border: .2rem solid var(--text-blue);
    }
    
    header .user .name {
        font-size: 3.5rem;
        color: #fff;
    }
    
    header .user .post {
        font-size: 2rem;
        color: #eee;
    }
    
    header .navbar {
        width: 100%;
    }
    
    header .navbar ul {
        list-style: none;
        padding: 1rem 3rem;
    }
    
    header .navbar ul li a {
        display: block;
        padding: 1rem;
        margin: 1rem 0;
        background: #013250;
        color: #fff;
        font-size: 2rem;
        border-radius: 1rem;
    }
    
    header .navbar ul li a:hover {
        background: var(--btn-hover);
    }
    
    #menu {
        position: fixed;
        top: 1rem;
        right: 1rem;
        color: #fff;
        cursor: pointer;
        font-size: 3rem;
        padding: 1rem 1.5rem;
        z-index: 1000;
        display: none;
    }
    
    .logoText {
        display: none;
    }
    
    .home {
        display: flex;
        justify-content: center;
        flex-flow: column;
        padding: 0 20rem 0 7rem;
    }
    
    .home h1 {
        font-size: 5.5rem;
        color: #fff;
    }
    
    .home h1 span {
        color: var(--text-blue);
    }
    
    .home p {
        color: #eee;
        padding: 1rem 0;
    }
    
    .about p {
        color: #eee;
        padding: 1rem 0;
        text-transform: none;
        line-height: 3rem;
    }
    
    .about .intro a {
        color: var(--text-blue);
        text-transform: none;
    }
    
    .about .intro i {
        color: var(--text-blue);
    }
    
    .about .row {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        padding: 1rem 0;
    }
    
    .about .row .info {
        flex: 1 1 48rem;
        padding: 2rem 6rem;
    }
    
    .about .row .info h3 {
        font-size: 2rem;
        color: var(--text-blue);
        padding: 1rem 0;
        font-weight: normal;
    }
    
    .about .row .info h3 span {
        color: #eee;
        padding: 0 .5rem;
    }
    
    .about .row .counter {
        padding: 0 4rem;
        display: grid;
        grid-template-columns: 1fr;
    }
    
    .about .row .counter .box {
        width: 20rem;
        background: var(--text-blue);
        text-align: center;
        padding: 2rem;
        margin: 2rem;
        border-radius: 1rem;
        border: 1px solid var(--text-blue);
    }
    
    .about .row .counter .box:hover {
        background: var(--btn-hover);
        border: 1px solid var(--text-blue);
    }
    /*  education  */
    
    .education .box-container {
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 1rem 3rem;
    }
    
    .education .box-container .box {
        width: unset;
        margin: 4rem 1rem;
        padding-left: 4rem;
        border-left: .2rem solid #fff;
        position: relative;
    }
    
    .education .box-container .box span {
        font-size: 2.2rem;
        background: var(--text-blue);
        color: #fff;
        border-radius: 1rem;
        padding: .5rem 2.5rem;
    }
    
    .education .box-container .box p {
        padding: 1rem 0;
    }
    
    .education .box-container .box i {
        position: absolute;
        top: -1.5rem;
        left: -2.5rem;
        height: 5rem;
        width: 5rem;
        border-radius: 50%;
        line-height: 5rem;
        text-align: center;
        font-size: 2rem;
        color: #fff;
        background: var(--text-blue);
    }
    
    .education .box-container .headBg {
        margin-bottom: 2rem;
        background: var(--text-blue);
        color: #fff;
        border-radius: 1rem;
        margin-top: -14px;
        padding: 1rem;
    }
    
    .education .box-container .box h3 {
        padding-top: 0;
    }
    
    .experience a,
    .skills.box-container .box span {
        font-weight: bold;
    }
    
    .experience em {
        font-weight: lighter;
    }
    
    .experience .box-container .box h3 {
        padding-top: 2rem;
    }
    
    .experience .box-container .box p {
        font-size: 1.7rem !important;
    }
    /* skills */
    
    .education .skills .box h3 {
        padding-top: 2rem;
    }
    
    .skills.box-container .box i {
        top: 0;
        position: relative;
        height: 4rem;
        width: 4rem;
        border-radius: 50%;
        line-height: 4rem;
        text-align: center;
        color: #fff;
        background: var(--text-blue);
    }
    
    .skills.box-container .box span {
        padding: 1rem 1rem 1rem4rem;
        display: flex;
        align-items: center;
    }
    
    .education .box-container .box {
        margin: 3rem 3rem 3rem 1rem;
    }
    /* experience */
    
    .experience .box-container .box {
        width: unset;
    }
    
    .experience .box-container .box span {
        justify-content: space-between;
        display: flex;
    }
    
    .experience a {
        text-decoration: none;
        color: #fff;
        font-size: 2.7rem;
    }
    /* portfolio  */
    
    .portfolio .box-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
        padding: 2rem 6rem;
    }
    
    .portfolio .box-container .box {
        margin: 3rem;
        overflow: hidden;
        cursor: pointer;
    }
    
    .portfolio .box-container h4 {
        font-size: 2rem !important;
        text-align: center;
    }
    
    .portfolio .box-container .box img {
        width: 100%;
        object-fit: cover;
        border-radius: 1rem;
    }
    
    .portfolio .box-container .box:hover img {
        transform: scale(.9);
    }
    
    .contact .row {
        display: flex;
        align-items: baseline;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    .contact .row .content {
        flex: 1 1 30rem;
        padding: 6rem;
        padding-bottom: 0;
    }
    
    .contact .row form {
        flex: 1 1 45rem;
        padding: 2rem;
        margin: 2rem;
        margin-bottom: 4rem;
    }
    
    .contact .row form .box {
        padding: 1.5rem;
        margin: 1rem 0;
        background: #3333;
        color: #fff;
        text-transform: none;
        font-size: 1.7rem;
        width: 100%;
    }
    
    .contact .row form .box::placeholder {
        text-transform: capitalize;
    }
    
    .contact .row form .message {
        height: 15rem;
        resize: none;
    }
    
    .contact .row .content .title {
        text-transform: uppercase;
        color: #fff;
        font-size: 3rem;
        padding-bottom: 2rem;
    }
    
    .contact .row .content .info h3 {
        display: flex;
        align-items: center;
        padding: 1rem 0;
        font-weight: normal;
        text-transform: none;
    }
    
    .contact .row .content .info h3 i {
        padding-right: 1rem;
        color: var(--text-blue);
    }
    
    .top {
        position: fixed;
        bottom: 6.8rem;
        right: 2rem;
        z-index: 100;
        display: none;
    }
    
    .top i {
        height: 4rem;
        width: 4rem;
        border-radius: 1rem;
        line-height: 4rem;
        text-align: center;
        font-size: 3rem;
        margin: 1rem;
        color: #fff;
    }
    /* footer */
    
    .footer {
        text-align: center;
        padding: 3rem 1rem;
    }
    
    .footer-2 {
        display: none;
    }
    
    .footer a i {
        height: 4rem;
        width: 4rem;
        border-radius: 1rem;
        line-height: 4rem;
        text-align: center;
        font-size: 3rem;
        margin: 1rem;
    }
    
    .footer a i:hover {
        color: var(--text-blue);
    }
    
    .footer-1 {
        text-align: left;
        padding: 0;
    }
    
    .footer-1 a i {
        margin: 0 1rem 0 -0.5rem;
    }
    
    footer h3 {
        font-size: 1.5rem !important;
    }
    /* media queries  */
    
    @media (max-width:1250px) {
        html {
            font-size: 55%;
        }
        .home {
            padding: 1rem 4rem;
        }
        .portfolio .box-container {
            padding: 2rem;
        }
        .portfolio .box-container .box {
            margin: 1rem;
        }
    }
    
    @media (max-width:1200px) {
        header .navbar ul {
            list-style: none;
            padding: 1rem 3rem;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 10px;
        }
        .top {
            bottom: 6.5rem;
        }
    }
    
    @media (max-width:1108px) {
        .about .row .counter {
            grid-template-columns: 1fr 1fr;
        }
    }
    
    @media (max-width:1028px) {
        .about .row .counter {
            grid-template-columns: 1fr 1fr;
        }
        .heading {
            margin: 0 3rem;
        }
        .about .row .info {
            padding: 2rem 4rem;
        }
        .contact .row .content {
            padding: 4rem;
        }
    }
    
    @media (max-width:991px) {
        .logoText {
            display: block;
        }
        header {
            left: -120%;
        }
        section {
            padding: 15rem 0rem;
        }
        #menu {
            display: block;
        }
        .menu-bg {
            position: fixed;
            width: 100%;
            background: var(--bg-blue);
            color: #fff;
            cursor: pointer;
            font-size: 2.5rem;
            padding: 20px 30px;
            z-index: 999;
            opacity: .9;
        }
        header.toggle {
            left: 0%;
            transition: .8s;
        }
        body {
            padding: 0;
            position: relative;
        }
        .portfolio .box-container .box {
            margin: 2rem 1rem;
        }
        .about .row .counter {
            grid-template-columns: 1fr;
        }
        .contact .row form {
            display: none;
        }
    }
    
    @media (max-width:768px) {
        html {
            font-size: 50%;
        }
        section {
            padding: 7rem 1rem;
        }
        h3 {
            font-size: 2.2rem !important;
        }
        h4 {
            font-size: 2rem !important;
        }
        p {
            font-size: 1.8rem !important;
        }
        .experience a {
            font-size: 2.2rem;
        }
    }
    
    @media (max-width:656px) {
        .about .row .counter {
            grid-template-columns: 1fr 1fr;
            width: 100%;
            padding: 0 2rem;
        }
        .about .row .counter .box {
            width: unset;
        }
        .home {
            padding: 10rem 4rem 1rem 4rem;
        }
    }
    
    @media (max-width: 550px) {
        .portfolio .box-container {
            grid-template-columns: 1fr 1fr;
        }
        .education .box-container .headBg {
            margin-top: -8px;
        }
    }
    
    @media (max-width:462px) {
        header {
            width: 85%;
            transition: .8s;
        }
        .heading {
            padding: 1rem 0;
        }
        .contact .row .content {
            padding: 3rem;
        }
        .about .row .info {
            padding: 2rem 3rem;
        }
        .education .box-container .box {
            padding-left: 0;
            border-left: 0;
        }
        .education .box-container .box i,
        .skills.box-container .box i {
            top: 0;
            left: 0;
            position: relative;
            height: 3rem;
            width: 3rem;
            line-height: 3rem;
        }
        .education .box-container .box {
            margin: 1.5rem 1rem;
        }
        .skills.box-container .box span {
            padding: 1rem 1rem;
            display: grid;
            grid-template-columns: 30px 1fr;
            align-items: center;
        }
        .education .box-container .headBg {
            display: grid;
            grid-template-columns: 30px 1fr;
            align-items: center;
        }
        .footer-2 {
            display: block;
        }
    }
    
    @media (max-width:410px) {
        .heading {
            margin: 0 3rem;
        }
        .about .row .counter .box {
            width: unset;
        }
        .about .row .counter .box {
            padding: 1rem;
            margin: 1rem;
        }
        .portfolio .box-container .box {
            width: 100%;
        }
        .contact .row form {
            margin: 3rem 0;
            text-align: center;
        }
        .portfolio .box-container {
            grid-template-columns: 1fr;
        }
        .education .box-container {
            padding-left: 0;
            padding: 1rem 2rem;
        }
    }